@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

@font-face {
  font-family: amiah;
  src: url('./assets/fonts/Amiah.otf');
}

.space-mono {
  font-family: 'Space Mono', monospace;
  color: #333333;
}

.dm-san {
  font-family: 'DM Sans', sans-serif;
  color: #333333;
}

.amiah {
  font-family: 'amiah', serif;
  color: #333333;
}

body {
  background-color: #F9F9F9;
}

:root {
  --wipe-percent: 0;
  /* Set a default value */
}

.wipe {
  clip-path: inset(var(--wipe-percent) 0 0);
  animation: wipe-in-up 1s ease;
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0);
  }

  to {
    clip-path: inset(var(--wipe-percent) 0 0);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 1px solid black;
  height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}